body{
    background-color: #fdc500;
}


/* Reset */
* { 
    margin-top: 5vh ;
    padding: 0;
    box-sizing: border-box;
}

/* Slideshow Container */
.slideshow-container {

    width: 100%;
    max-width: 800px;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

/* Slides */
.slide {
    display: none;

}

.slide img {
    background-size:contain,cover ;
    width: 140vh;
    height: 75vh;
    border-radius: 10px;
}

/* Navigation Buttons */
.prev, .next {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    background-color: rgb(0, 0, 0);
    color: #c86bfa;
     padding: 10px 10px; 
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


@keyframes fadeEffect {
    from { opacity: 0.4; }
    to { opacity: 1; }
}


